<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmo Ai</title>
    <link rel="stylesheet" href="../static/styles.css">
    <meta name="description"
        content="Cosmo-Login is a simple web interface to manage login credentials for your astronomical observatory.">
    <link rel="shortcut icon" href="../images/favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body class="bg-black h-screen w-screen overflow-hidden font-jura">
    <nav class="bg-white p-1 pl-5 pr-5 absolute w-full flex flex-row align-middle gap-72 z-50">
        <div class="flex flex-row align-middle gap-96">
            <img src="../images/logos/banner logo.png" class="h-12" alt="">
            <ul class="flex flex-row gap-52 items-center">
                <li><a href="/" class="text-black hover:text-gray-700 hover:underline">Home</a></li>
                <li><a href="" class="text-black hover:text-gray-700 hover:underline">Authors</a></li>
                <li><a href="" class="text-ckack hover:text-gray-700 hover:underline">Support</a></li>
            </ul>
        </div>
        <ul class="flex flex-row gap-6 items-center">
            <li><a href="/login" class="text-black hover:text-gray-700 hover:underline ">Login</a></li>
            <li><a href="/register" class="text-white bg-blue-600 p-2 rounded-lg hover:bg-blue-800">Signup</a></li>
        </ul>
    </nav>
</body>
</html>