<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmo-Home</title>
    <link rel="stylesheet" href="../static/styles.css">
    <meta name="description"
        content="Cosmo-Login is a simple web interface to manage login credentials for your astronomical observatory.">
    <link rel="shortcut icon" href="../images/favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body class="bg-white font-jura w-screen overflow-x-hidden">
    <nav class="bg-white p-1 pl-5 pr-5 absolute w-full flex flex-row align-middle gap-72 z-50 drop-shadow-sm">
        <div class="flex flex-row align-middle gap-96">
            <img src="../images/logos/banner logo.png" class="h-12" alt="">
            <ul class="flex flex-row gap-52 items-center">
                <li><a href="#" class="text-black hover:text-gray-700 hover:underline">Home</a></li>
                <li><a href="" class="text-black hover:text-gray-700 hover:underline">Authors</a></li>
                <li><a href="" class="text-ckack hover:text-gray-700 hover:underline">Support</a></li>
            </ul>
        </div>
        <ul class="flex flex-row gap-6 items-center">
            <li><a href="./login.html" class="text-black hover:text-gray-700 hover:underline ">Login</a></li>
            <li><a href="./signup.html" class="text-white bg-blue-600 p-2 rounded-lg hover:bg-blue-800">Signup</a></li>
        </ul>
    </nav>

    <!-- section 1 -->
    <div class="flex justify-center items-center h-screen z-50">
        <div class="w-1/2 text-center pl-6">
            <h1 class="text-8xl font-extrabold text-gray-800 mb-4">Welcome to Cosmo AI</h1>
            <p class="text-2xl font-bold text-gray-600 mb-6">Your Gateway to Smarter Solutions</p>
            <p class="text-xl font-semibold text-gray-700 mb-8">
                Cosmo AI is designed to revolutionize the way you work, learn, and create. Whether you're brainstorming
                ideas, solving complex problems, or exploring new knowledge, Cosmo is your ultimate companion in
                achieving more with ease.
            </p>
            <p class="text-xl font-semibold text-gray-700 mb-8">
                Discover possibilities beyond imagination, powered by intelligent insights.
            </p>
            <div class="flex space-x-4 w-full justify-center">
                <a href="#second-section"
                    class="bg-gradient-to-r from-blue-500 to-purple-500 text-white text-lg px-6 py-3 rounded-lg transition duration-500 ease-in-out transform hover:scale-105">Learn
                    More</a>
                <a href="./signup.html"
                    class="bg-gradient-to-r from-green-500 to-teal-500 text-white text-lg px-6 py-3 rounded-lg transition duration-500 ease-in-out transform hover:scale-105">Get
                    Started For Free</a>
            </div>
        </div>
    </div>

    <div class="h-16 bg-gradient-to-b from-white to-black"></div>

    <div id="second-section" class="flex justify-center bg-black items-center h-screen z-20">
        <div class="p-4 min-h-screen">
            <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-20">
                <div class="blur-[106px] h-56 bg-gradient-to-br to-purple-400 from-blue-700"></div>
                <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-indigo-600"></div>
            </div>
            <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
                <div class="md:w-2/3 lg:w-1/2 mt-12 text-gray-100">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-secondary">
                        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd"></path>
                    </svg>
                    <h2 class="my-8 text-2xl font-bold text-white md:text-4xl">Our AI Innovations</h2>
                    <p class="text-gray-300">Explore the groundbreaking AI solutions we've developed to enhance your experience.</p>
                </div>
                <div class="mt-16 grid divide-x divide-y divide-gray-700 overflow-hidden rounded-3xl border text-gray-600 border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4">
                    <div class="group relative bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative space-y-8 py-12 p-8">
                            <img src="https://www.svgrepo.com/show/164986/logo.svg" loading="lazy" width="200" height="200" class="w-12 h-12 rounded-full" style="color:transparent">
                            <div class="space-y-2">
                                <h5 class="text-xl font-semibold text-white transition group-hover:text-secondary">Text-Generation</h5>
                                <p class="text-gray-300">Leveraging cutting-edge natural language processing techniques, including transformer-based architectures and advanced language models, to generate human-like text that is both coherent and relevant.</p>
                            </div>
                        </div>
                    </div>
                    <div class="group relative bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative space-y-8 py-12 p-8">
                            <img src="https://www.svgrepo.com/show/120853/logo.svg" loading="lazy" width="200" height="200" class="w-12 h-12 rounded-full" style="color:transparent">
                            <div class="space-y-2">
                                <h5 class="text-xl font-semibold text-white transition group-hover:text-secondary">Image-Text-to-Text</h5>
                                <p class="text-gray-300">Transforming images into actionable text insights with our innovative AI engine.</p>
                            </div>
                        </div>
                    </div>
                    <div class="group relative bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative space-y-8 py-12 p-8">
                            <img src="https://www.svgrepo.com/show/120852/logo.svg" loading="lazy" width="200" height="200" class="w-12 h-12 rounded-full" style="color:transparent">
                            <div class="space-y-2">
                                <h5 class="text-xl font-semibold text-white transition group-hover:text-secondary">Text-to-Images</h5>
                                <p class="text-gray-300">Using state-of-the-art generative models, such as DALL-E and Stable Diffusion, to generate high-quality images from text prompts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="group relative bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                        <div class="relative space-y-8 py-12 p-8">
                            <img src="https://www.svgrepo.com/show/120850/logo.svg" loading="lazy" width="200" height="200" class="w-12 h-12 rounded-full" style="color:transparent">
                            <div class="space-y-2">
                                <h5 class="text-xl font-semibold text-white transition group-hover:text-secondary">Code-Solve</h5>
                                <p class="text-gray-300">Using Quwen AI's advanced code generation capabilities, we can automate the process of writing code for common web development tasks, such as generating boilerplate code, writing unit tests, and even creating entire web applications from scratch.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <canvas class="absolute top-0 left-0 w-screen h-screen -z-30"></canvas>
    <script>
        const STAR_COLOR = '#0000FF';
        const STAR_SIZE = 0.5;
        const STAR_MIN_SCALE = 2;
        const OVERFLOW_THRESHOLD = 50;
        const STAR_COUNT = (window.innerWidth + window.innerHeight) / 8;

        const canvas = document.querySelector('canvas'),
            context = canvas.getContext('2d');

        let scale = 1, // device pixel ratio
            width,
            height;

        let stars = [];

        let pointerX,
            pointerY;

        let velocity = { x: 0, y: 0, tx: 0, ty: 0, z: 0.0005 };

        let touchInput = false;

        generate();
        resize();
        step();

        window.onresize = resize;
        canvas.onmousemove = onMouseMove;
        canvas.ontouchmove = onTouchMove;
        canvas.ontouchend = onMouseLeave;
        document.onmouseleave = onMouseLeave;

        function generate() {
            for (let i = 0; i < STAR_COUNT; i++) {
                stars.push({
                    x: 0,
                    y: 0,
                    z: STAR_MIN_SCALE + Math.random() * (1 - STAR_MIN_SCALE)
                });
            }
        }

        function placeStar(star) {
            star.x = Math.random() * width;
            star.y = Math.random() * height;
        }

        function recycleStar(star) {
            let direction = 'z';

            let vx = Math.abs(velocity.x),
                vy = Math.abs(velocity.y);

            if (vx > 1 || vy > 1) {
                let axis;

                if (vx > vy) {
                    axis = Math.random() < vx / (vx + vy) ? 'h' : 'v';
                }
                else {
                    axis = Math.random() < vy / (vx + vy) ? 'v' : 'h';
                }

                if (axis === 'h') {
                    direction = velocity.x > 0 ? 'l' : 'r';
                }
                else {
                    direction = velocity.y > 0 ? 't' : 'b';
                }
            }

            star.z = STAR_MIN_SCALE + Math.random() * (1 - STAR_MIN_SCALE);

            if (direction === 'z') {
                star.z = 0.1;
                star.x = Math.random() * width;
                star.y = Math.random() * height;
            }
            else if (direction === 'l') {
                star.x = -OVERFLOW_THRESHOLD;
                star.y = height * Math.random();
            }
            else if (direction === 'r') {
                star.x = width + OVERFLOW_THRESHOLD;
                star.y = height * Math.random();
            }
            else if (direction === 't') {
                star.x = width * Math.random();
                star.y = -OVERFLOW_THRESHOLD;
            }
            else if (direction === 'b') {
                star.x = width * Math.random();
                star.y = height + OVERFLOW_THRESHOLD;
            }
        }

        function resize() {
            scale = window.devicePixelRatio || 1;
            width = window.innerWidth * scale;
            height = window.innerHeight * scale;

            canvas.width = width;
            canvas.height = height;

            stars.forEach(placeStar);
        }

        function step() {
            context.clearRect(0, 0, width, height);

            update();
            render();

            requestAnimationFrame(step);
        }

        function update() {
            velocity.tx *= 0.96;
            velocity.ty *= 0.96;

            velocity.x += (velocity.tx - velocity.x) * 0.8;
            velocity.y += (velocity.ty - velocity.y) * 0.8;

            stars.forEach((star) => {
                star.x += velocity.x * star.z;
                star.y += velocity.y * star.z;

                star.x += (star.x - width / 2) * velocity.z * star.z;
                star.y += (star.y - height / 2) * velocity.z * star.z;
                star.z += velocity.z;

                if (star.x < -OVERFLOW_THRESHOLD || star.x > width + OVERFLOW_THRESHOLD || star.y < -OVERFLOW_THRESHOLD || star.y > height + OVERFLOW_THRESHOLD) {
                    recycleStar(star);
                }
            });
        }

        function render() {
            stars.forEach((star) => {
                context.beginPath();
                context.lineCap = 'round';
                context.lineWidth = STAR_SIZE * star.z * scale;
                context.globalAlpha = 0.5 + 0.5 * Math.random();
                context.strokeStyle = STAR_COLOR;

                context.moveTo(star.x, star.y);

                var tailX = velocity.x * 2,
                    tailY = velocity.y * 2;

                if (Math.abs(tailX) < 0.1) tailX = 0.5;
                if (Math.abs(tailY) < 0.1) tailY = 0.5;

                context.lineTo(star.x + tailX, star.y + tailY);
                context.stroke();
            });
        }

        function movePointer(x, y) {
            if (typeof pointerX === 'number' && typeof pointerY === 'number') {
                let ox = x - pointerX,
                    oy = y - pointerY;

                velocity.tx = velocity.tx + (ox / 8 * scale) * (touchInput ? 1 : -1);
                velocity.ty = velocity.ty + (oy / 8 * scale) * (touchInput ? 1 : -1);
            }
            pointerX = x;
            pointerY = y;
        }

        function onMouseMove(event) {
            touchInput = false;
            movePointer(event.clientX, event.clientY);
        }

        function onTouchMove(event) {
            touchInput = true;
            movePointer(event.touches[0].clientX, event.touches[0].clientY, true);
            event.preventDefault();
        }

        function onMouseLeave() {
            pointerX = null;
            pointerY = null;
        }
    </script>
</body>

</html>