<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmo-Login</title>
    <meta name="description"
        content="Cosmo-Login is a simple web interface to manage login credentials for your astronomical observatory.">
    <link rel="shortcut icon" href="../images/favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="bg-black h-screen w-screen overflow-hidden font-jura">
    <nav
        class="bg-white p-1 pl-5 pr-5 absolute w-full flex flex-row align-middle gap-72 z-50 drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]">
        <div class="flex flex-row align-middle gap-96">
            <img src="../images/logos/banner logo.png" class="h-12" alt="">
            <ul class="flex flex-row gap-52 items-center">
                <li><a href="#" class="text-black hover:text-gray-700 hover:underline">Home</a></li>
                <li><a href="" class="text-black hover:text-gray-700 hover:underline">Authors</a></li>
                <li><a href="" class="text-ckack hover:text-gray-700 hover:underline">Support</a></li>
            </ul>
        </div>
        <ul class="flex flex-row gap-6 items-center">
            <li><a href="./login.html" class="text-black hover:text-gray-700 hover:underline ">Login</a></li>
            <li><a href="./signup.html" class="text-white bg-blue-600 p-2 rounded-lg hover:bg-blue-800">Signup</a></li>
        </ul>
    </nav>

    <!-- input form -->
    <div class="z-20 absolute h-full w-full bg-black/50 backdrop-blur-sm">
        <div class="relative flex items-center justify-center h-full">
            <div class="w-full max-w-md p-8 space-y-3 bg-white rounded-lg shadow-md">
                <h2 class="text-2xl font-bold text-center">Recover Password</h2>
                <form action="#" method="POST" class="space-y-4">
                    <div>
                        <label for="email" class="block mb-1 text-sm font-medium text-gray-700">Email address</label>
                        <input type="email" id="email" name="email" required
                            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                            placeholder="you@example.com">
                    </div>
                    <div>
                        <label for="username" class="block mb-1 text-sm font-medium text-gray-700">Username</label>
                        <input type="text" id="username" name="username" required
                            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                            placeholder="Username">
                    </div>
                    <div>
                        <label for="description"
                            class="block mb-1 text-sm font-medium text-gray-700">Description</label>
                        <textarea id="description" name="description" required
                            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                            placeholder="Description about why you want to reset your password"></textarea>
                    </div>
                    <div class="flex items-center">
                        <input type="checkbox" id="accept" name="accept" class="mr-2" required>
                        <label for="accept" class="text-sm text-gray-600">I accept the <a href="#"
                                class="text-blue-600 hover:underline">Aurora Privacy Policy</a></label>
                    </div>
                    <button type="submit"
                        class="w-full p-2 text-white bg-blue-600 rounded-md hover:bg-blue-700">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <canvas id="canvas">Canvas not supported.</canvas>
</body>
<script src="../static/bgan.js"></script>

</html>