<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmo-Home</title>
    <link rel="stylesheet" href="../static/styles.css">
    <meta name="description"
        content="Cosmo-Login is a simple web interface to manage login credentials for your astronomical observatory.">
    <link rel="shortcut icon" href="../images/favicon/favicon-32x32.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <section class="bg-white py-8 antialiased md:py-16 h-screen flex items-center justify-center">
        <div class="mx-auto max-w-2xl px-4 2xl:px-0">
            <div class="flex items-center justify-center mb-8">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="50" fill="#34C759" />
                    <path d="M35 60L45 70L65 40" stroke="white" stroke-width="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
            <h2 class="text-xl font-semibold text-black sm:text-2xl mb-2">Thanks for your order!</h2>
            <p class="text-black mb-6 md:mb-8">Your order <a href="#"
                    class="font-medium text-black hover:underline">#7564804</a> will be processed
                within 24 hours during working days. We will notify you by email once your order has been shipped.</p>
            <ul class="space-y-4 sm:space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-6 md:mb-8">
                <li class="flex items-center justify-between">
                    <span class="font-normal text-black">Date</span>
                    <span class="font-medium text-black">14 May 2024</span>
                </li>
                <li class="flex items-center justify-between">
                    <span class="font-normal text-black">Payment Method</span>
                    <span class="font-medium text-black">VISA card</span>
                </li>
                <li class="flex items-center justify-between">
                    <span class="font-normal text-black">AI Cosmo Package</span>
                    <span class="font-medium text-black">VIP</span>
                </li>
                <li class="flex items-center justify-between">
                    <span class="font-normal text-black">Transaction ID</span>
                    <span class="font-medium text-black">XJ67493028</span>
                </li>
                <li class="flex items-center justify-between">
                    <span class="font-normal text-black">Total Amount</span>
                    <span class="font-medium text-black">$49</span>
                </li>
                <li class="flex items-center justify-between">
                    <span class="font-normal text-black">Status</span>
                    <span class="font-medium text-green-500">Completed</span>
                </li>
                <li class="flex items-center justify-between">
                    <span class="font-normal text-black">Estimated Delivery</span>
                    <span class="font-medium text-black">16 May 2024</span>
                </li>
            </ul>
            <div class="flex items-center space-x-4">
                <a href="#"
                    class="text-black bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5">Download
                    PDF invoice</a>
                <a href="./Upage.html"
                    class="py-2.5 px-5 text-sm font-medium text-black focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100">Return
                    to home</a>
            </div>
        </div>
    </section>
</body>